<div class='container'>
        <div class='event'>
                {{event}} in {{site}} on {{date | date:'dd/MM/yyyy'}}
        </div>
        <div class='vs'>
                <span class="value">{{white}}</span> (White)
                &nbsp;vs&nbsp;
                <span class="value">{{black}}</span> (Black)
        </div>
        <div class='result'>
                <label for="round" class="label">Round:</label>
                <span class="value">{{round}}</span>
                &nbsp;
                <span class="value">{{result}}</span>
        </div>
</div>