
<div>
        <label for="event" class="label">Event:</label><span class="value">{{event}}</span>
        <label for="site" class="label">Site:</label><span class="value">{{site}}</span>
        <label for="date" class="label">Date:</label><span class="value">{{date}}</span>
        <label for="whitePlayer" class="label">White:</label><span class="value">{{whitePlayer}}</span>
        <label for="blackPlayer" class="label">Black:</label><span class="value">{{blackPlayer}}</span>
        <label for="matchRound" class="label">Round:</label><span class="value">{{matchRound}}</span>
        <label for="result" class="label">Result:</label><span class="value">{{result}}</span>
</div>


