<!--The content below is only a placeholder and can be replaced.-->
<div class="root-container">
  <div class="header">
      <h1>{{title}}</h1>
  </div>
  <div class="content-container">
    <div class="header-container">
      <app-header [game]='game'></app-header>
    </div>
    <div class="board-movelist-container">
      <div class="board-container"><app-board [game]='game' [boardKey]='boardKey'></app-board></div>
      <div class="movelist-container">
        <app-movelist 
          [moves]='game.moves' 
          (onNextMove)="makeMove($event)"
          (onResetBoard)="resetBoard()"
        ></app-movelist></div>
    </div>
    <div class="notes-container"><app-notes></app-notes></div>
  </div>
</div> 