@inherits BoardTestComponent
@page "/boardtest"

    <div class="container-fluid">
        <div class="row">
            <ChessBoard @ref="ChessBoard"></ChessBoard>
            <AvailableMoveList @ref="MoveList"></AvailableMoveList>
        </div>
        <button onclick="@ResetBoardAsync">Reset Board</button>
    </div>
