@inherits BoardTestComponent
@page "/boardtest"
    <div class="row">
        <ChessBoard @ref="ChessBoard"></ChessBoard>
        <AvailableMoveList @ref="MoveList" OnMoveSelectedAsync="@OnMoveSelectedAsync"></AvailableMoveList>
    </div>
<button onclick="@ResetBoardAsync">Reset Board</button>
