@page "/pgn/tools"

    <div class="container-fluid">
        <h2>PGN Tools</h2>
        <Convert/>
        <p>
            In support of my <externala href="https://github.com/Chrislee187/chess">chess engine</externala> I also developed some tooling around <externala href="https://en.wikipedia.org/wiki/Portable_Game_Notation">PGN files</externala>. This includes;
            <ul>
                <li>
                    PgnReader library - a .NET Standard assembly that can read PGN files and parse the contents in .NET Objects
                </li>
                <li>
                    PgnQuery command line app - a .NET Core console application that can read and filter the contents of multiple PGN files.
                </li>
            </ul>
        </p>
        <h2>Backlog</h2>
        <p>
            In addition to the above tools, I also plan to create a Chess Game Library application that PGN files can be imported/exported from, queried, analysed and replayed. The ultimate goal is for a standalone Blazor app running in <externala href="https://en.wikipedia.org/wiki/Electron_(software_framework)">Electron</externala>.
        </p>

        <p>
            All the source code can be found on my github at <externala href="https://github.com/Chrislee187/pgn-tools">https://github.com/Chrislee187/pgn-tools</externala>
        </p>
    </div>

