@using chess.webapi.client.csharp
@inherits AvailableMoveListComponent
<link href="css/movelist.css" rel="stylesheet" />

<div class="available-moves">
    <div class="title">@Title</div>
    <div class="movelist">
        @{

            foreach (var move in Moves ?? new List<Move>())
            {
                <button class="move" title="@move.Coord" @onclick="@( e => MoveSelected(move.SAN))">@move.SAN</button>
            }
        }
    </div>
</div>

