@inherits BoardCellComponent
<td class="board-cell 
    @(IsBlackSquare ? "black-cell": "white-cell") 
    @(IsEmptySquare ? "" : PieceIsWhite ? "white-piece-highlight": "black-piece-highlight") " 
    @onclick="@OnClick"
    
    >@Piece</td>