@page
@model chess.webapi.Pages.TestModel
@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div asp-validation-summary="All"></div>
<form method="POST">
    <label rows="20" cols="60" asp-for="TestValue" class="control-label" ></label><br />
    <input asp-for="TestValue" class="form-control" value="@Model.TestValue"/><br />
    <input type="submit" value="@Model.TestValue"/><br />
</form>
