TABLE {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
    font-size: x-large;
    TD {
        width: 50px;
        margin: 0;
        padding: 0;
        
        background-color: brown;
    }
    TR {
        margin: 0;
        padding: 0;
        border-spacing: 0px;
    }
}
DIV {
    height: 50px;
}
.board-border {
    background-color: brown;
}
.square {
    text-align: center;
}