@page
@model chess.webapi.Pages.Pgn.PgnConvertModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "PGN Convert";
    Layout = "_Layout";
}

<h2>PGN Conversion</h2>

<p>
    Simple conversion from PGN to a JSON version of the same data.
</p>
<p>
    Enter PGN data in the text below and click convert
</p>
<div asp-validation-summary="All"></div>
<form method="POST">
    <h1>Enter PGN Text</h1>
    <textarea rows="20" cols="60" asp-for="PgnText">@Model.PgnText</textarea><br />
    <label asp-for="ExpandMoves"></label>
    <input asp-for="ExpandMoves" checked="@Model.ExpandMoves"/>
    <button  type="submit">Convert</button><br />
    <h1>PGJSON</h1>
    <textarea rows="20" cols="60">@Model.PgJson</textarea>
</form>
