@page "/pgn/convert"
@model chess.web.Pages.Pgn.Convert.ConvertModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewBag.Title = "PGN Convert";
    Layout = "_Layout";
}

<h2>PGN Conversion</h2>

<p>
    Moved to new Blazor SPA application at <a href="https://chessstaticstorage.z33.web.core.windows.net/pgn/convert">https://chessstaticstorage.z33.web.core.windows.net/pgn/convert</a>. 
</p>
