.chessboard {
    max-width: 50%;
    /* width: 400px; */
    /* height: 400px; */
    padding: 0px;

}
.chessboard TABLE {
    width: 100%;
    padding-bottom: 100%;
    height: complex;    
}

.chessboard TD:before {
    padding-top: 100%;
}

.chessboard TD {
    min-width: 1rem;
    text-align: center;
}
.board-border {
    background-color: brown;
    color: gold;
    min-width: 1rem;
}

.black-cell {
    background-color: black;
    color: white;
}
.white-cell {
    background-color: white;
    color: black;
}
.board-cell.source-location {
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 128, 0, 0.33) inset;
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 128, 0, 0.33) inset;
    box-shadow: 0px 0px 30px 0px rgba(0, 128, 0, 0.33) inset;
}

.board-cell.destination-location {
    font-weight: bold;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.66) inset;
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.66) inset;
    box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.66) inset;
}

 .white-to-play .white-piece-highlight:hover { 
     -webkit-border-radius: 10px; 
     -moz-border-radius: 10px; 
     border-radius: 10px; 
     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.33) inset; 
     -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.33) inset; 
     box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.33) inset; 
 } 
 
 .black-to-play .black-piece-highlight:hover { 
     -webkit-border-radius: 10px; 
     -moz-border-radius: 10px; 
     border-radius: 10px; 
     -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.33) inset; 
     -moz-box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.33) inset; 
     box-shadow: 0px 0px 30px 0px rgba(0, 255, 0, 0.33) inset; 
 } 

