.available-moves {
    /* width: 400px; */
    /* height: 400px; */
    max-width: 50%;

}

.available-moves .title {
    padding-left: 10px;
    font-size: larger;
}

.movelist {
    padding-left: 10px;
}
.move {
    width: 4em;
    margin-bottom: 10px;
}