<div class="board-root">
  <table>
    <tr class="board-border">
      <td>
        <empty-border-square></empty-border-square>
      </td>
      <td *ngFor="let rank of ['A','B','C','D','E','F','G','H']">
        <rank-border-square rank="{{rank}}"></rank-border-square>
      </td>
      <td>
        <empty-border-square></empty-border-square>
      </td>
    </tr>
    
    <tr *ngFor="let file of [8,7,6,5,4,3,2,1]" >
        <td>
          <file-border-square file="{{file}}"></file-border-square>
        </td>
        <td *ngFor="let rank of ['A','B','C','D','E','F','G','H']">
          <board-square [rank]=rank [file]="file" boardKey={{boardKey}}></board-square></td>
          <td>
              <file-border-square file="{{file}}"></file-border-square>
            </td>
        </tr>
    <tr class="board-border">
        <td>
          <empty-border-square></empty-border-square>
        </td>
        <td *ngFor="let rank of ['A','B','C','D','E','F','G','H']" >
          <rank-border-square rank="{{rank}}"></rank-border-square>
        </td>
        <td>
          <empty-border-square></empty-border-square>
        </td>
      </tr>
    </table>
</div>